/*PALETA DE COLORES PARA EL PROYECTO*/
/*
	#EE3D40; rgba(238,61,64,1); ----> Hof-red
	#FFFFFF; rgba(255,255,255,1); --> Blanco
	#000000; rgba(0,0,0,1); --------> Negro
	#AABAC5; rgba(170,186,197,1); --> Cold Sky
*/

/*Estilos generales*/
body 
{
	background: rgba(0,0,0,0.1) url(../img/texture.png) top left repeat;
	padding-top: 50px;
}

.wrap 
{
	padding: 50px 0;
}
.espacio-sup 
{
	padding-top: 30px;
}
.optimize 
{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegitibility;
}
.text-left 
{
	text-align: left;
}

.container.espacio-sup 
{
	padding-left: 0;
	padding-right: 0;
}
/*HEADER*/
#header 
{
	background: url('../img/bg-header.jpg') 50% 0 no-repeat fixed;
}
/*Redes sociales*/
#header .socials 
{
	font-size: 2em;
}
#header .socials p 
{
	margin: 0 8px 0 0;
	padding-top: 5px;
}

#header .socials p a 
{
	color: white;
	padding: 0 4px;
}

#header .socials .facebook:hover
{
	color: #3b5998;
}

#header .socials .twitter:hover 
{
	color: #00aced;
}

#header .socials .instagram:hover 
{
	color: #125688;
}

#header .socials .youtube:hover 
{
	color: #bb0000;
}
/*Logotipo y teléfono*/

#header .logo 
{
	max-width: 260px;
	max-height: auto;
}

#header h2 	
{
	
	color: rgba(170,186,197,1);
}

#header h2 i 
{
	margin-right: 8px;
}

/*END HEADER*/

/*CAROUSEL*/

#header .carousel-caption 
{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegitibility;
}

/*PRESENTATION*/
#presentation 
{
	background: rgba(238,61,64,0.8);
	text-align: center;
}

#presentation h1 
{
	font-family: 'Fredoka One', cursive;
}

#presentation p 
{
	color: white;
}
/*media*/
.text-left p 
{
	color: black;
}

/*JUMBOTRON*/
#jumbotron 
{
	text-align: center;
}
#jumbotron .jumbotron 
{
	background: rgba(170,186,197,1) url('../img/jumb-header-b.jpg')50% 0 no-repeat;
}
#jumbotron h2 
{
	font-family: 'Fredoka One', cursive;
	margin-bottom: 1em;
}

.jumbotron .container p 
{
	margin-bottom: 2em;
	color: #000000;
}