/*PALETA DE COLORES PARA EL PROYECTO*/
/*
	#EE3D40; rgba(238,61,64,1); ----> Hof-red
	#FFFFFF; rgba(255,255,255,1); --> Blanco
	#000000; rgba(0,0,0,1); --------> Negro
	#AABAC5; rgba(170,186,197,1); --> Cold Sky
*/

/*Estilos generales*/
body 
{
	background: rgba(255,255,255,0.6) url(../img/texture.png) top left repeat;
	padding-top: 50px;
}

.wrap 
{
	padding: 50px 0;
}
.espacio-sup 
{
	padding-top: 30px;
}
.optimize 
{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegitibility;
}
.text-left 
{
	text-align: left;
}
.text-center 
{
	text-align: center;
}
.text-white 
{
	color: white;
}
.container.espacio-sup 
{
	padding-left: 0;
	padding-right: 0;
}
.centradoVertical 
{
	margin-top: 140%;
}

/*Colores de fondo*/
.back-white 
{
	background: rgba(255,255,255,1);
}
.back-black 
{
	background: rgba(0,0,0,1);
}
.back-cold 
{
	background: rgba(170,186,197,0.8);
}
.back-red 
{
	background: rgba(238,61,64,0.8);
}
/*Tipo de letra*/
.fredokaFont 
{
	font-family: 'Fredoka One', cursive;
}
.markerFont 
{
	font-family: 'Permanent Marker', cursive;
}

/*HEADER*/
#header 
{
	background: url('../img/bg-header.jpg') 50% 0 no-repeat fixed;
}
/*Redes sociales*/
#header .socials 
{
	font-size: 2em;
}
#header .socials p 
{
	margin: 0 8px 0 0;
	padding-top: 5px;
}

#header .socials p a 
{
	color: white;
	padding: 0 4px;
}

#header .socials .facebook:hover
{
	color: #3b5998;
}

#header .socials .twitter:hover 
{
	color: #00aced;
}

#header .socials .instagram:hover 
{
	color: #125688;
}

#header .socials .youtube:hover 
{
	color: #bb0000;
}

.youtube-icon 
{
	color: #bb0000;	
}
/*Logotipo y teléfono*/

#header .logo 
{
	max-width: 260px;
	max-height: auto;
}

#header h2 	
{
	
	color: rgba(170,186,197,1);
}

#header h2 i 
{
	margin-right: 8px;
}

/*END HEADER*/

/*CAROUSEL*/

#header .carousel-caption 
{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegitibility;
}

/*PRESENTATION*/
#presentation 
{
	background: rgba(238,61,64,0.8);
	text-align: center;
}

#presentation p 
{
	color: white;
}
/*media-LIST*/
.text-left p 
{
	color: black;
}

/*JUMBOTRON*/
#jumbotron 
{
	text-align: center;
}
#jumbotron .jumbotron 
{
	background: url('../img/jumb-header-b.jpg')50% 0 no-repeat;
	margin-bottom: 0;
}
#jumbotron h2 
{
	padding-bottom-bottom: 1em;
}

.jumbotron .container p 
{
	padding-bottom: 2em;
	color: #000000;
}
/*Eventos*/
#eventos 
{
	background: rgba(170,186,197,0.8);
	text-align: center;
}
/*Video promocional*/
#videoPromo 
{
	text-align: center;
}
/*Footer*/
#footer 
{
	background: rgba(0,0,0,1);
	color: white;
}


/*PÁGINA EQUIPOS*/



/*AGUA PARTY*/
#aguaParty 
{
	background: rgba(0,0,0,0.8);
}

/*PÁGINA DE CONTACTO*/
#contacto 
{
	
}

/*ESTILOS BARRA ACEPTACIÓN DE COOKIES*/
#barracookies {display: none;z-index: 99999;position:fixed;left:0px;right:0px;bottom:0px;width:100%;min-height:40px;padding:5px;background: #333333;color:#d7c712;line-height:20px;font-family:verdana;font-size:12px;text-align:center;box-sizing:border-box;} #barracookies a:nth-child(2) {padding:4px;background:#4682B4;border-radius:5px;text-decoration:none;} #barracookies a {color: #fff;text-decoration: none;}
/*ESTILOS PÁGINA POLÍTICA COOKIES*/
#politicaCookies 
{
	background: rgba(170,186,197,0.8);
}

/*ESTILOS BOTÓN IR ARRIBA*/
.go-top {
	position: fixed;
	bottom: 3em;
	border-radius: 50%;
	right: 3em;
	text-decoration: none;
	color: #fff;
	background-color: rgba(150, 150, 150, 0.6);
	font-size: 12px;
	padding: 1em 1em 1.2em 1em;
	display: none;
}

.go-top:hover {
	background-color: rgba(150, 150, 150, 0.8);
	text-decoration: none;
	color: #fff;
}